{% extends "master.html" %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
{% endblock %}

{% block content %}
    <div id="infomodal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Schließen</a>
        </div>
    </div>

    <h1 id="logo">Baustellen Aachen
    </h1>
    <div class="row">
        <div class="span9">
            <div id="map"></div>
        </div>
        <div class="widgets">
            <ul>
                {% for site in sites %}
                    <li>
                        <div class="site"
                            data-id="{{site._id}}"
                            data-name="{{site.name}}"
                            data-subtitle="{{site.subtitle}}"
                            data-organisation="{{site.organisation}}"
                            data-sidewalk_only="{{site.sidewalk_only}}"
                            data-approx_timeframe="{{site.approx_timeframe}}"
                            data-start_date="{{site.start_date}}"
                            data-end_date="{{site.end_date}}"
                            data-start_lat="{{site.sections[0].start_lat}}"
                            data-start_lng="{{site.sections[0].start_lng}}"
                            data-end_lat="{{site.sections[0].end_lat}}"
                            data-end_lng="{{site.sections[0].end_lng}}">
                            {{site.name}} ({{site.approx_timeframe}})
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="{{url_for("static", filename="js/sites.js")}}"></script>
{% endblock %}