{% extends "master.html" %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
{% endblock %}

{% block content %}
    <div id="mapmodal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Karte</h3>
        </div>
        <div class="modal-body">
            <div class="mapcontainer">
                <div id="map"></div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Schließen</a>
        </div>
    </div>


    <h3>neue Baustelle anlegen</h3>
    <div class="row">

        <form method="POST" action="{{url}}" id="site-form" class="form-horizontal validate"
              data-lat="{{site.lat}}"
              data-lng="{{site.lng}}"
              data-sidewalk_only="{{site.sidewalk_only}}">
            <fieldset>
                <!--legend>Kerndaten</legend-->
                {{ macros.form_field(form.lat) }}
                {{ macros.form_field(form.lng) }}
                {{ macros.form_field(form.name, class="required large span6") }}
                {{ macros.form_field(form.subtitle, class="required span6") }}
                {{ macros.form_field(form.description, class="required span6") }}
                {{ macros.form_field(form.organisation, class="required span6") }}
                {{ macros.form_field(form.sidewalk_only, class="span3") }}
                {{ macros.form_field(form.start_date, class="span2") }}
                {{ macros.form_field(form.end_date, class="span2") }}
                {{ macros.form_field(form.approx_timeframe, class="span6") }}
            </fieldset>
            <fieldset>
                <!--legend>Geodaten</legend-->
                <div class="control-group " id="field-latlng">
                    <label class="control-label" for="latlng">Karte</label>
                    <div class="controls" id="latlng-div">
                        <div class="input">
                            <div class="staticmapcontainer pull-left">
                                <div id="staticmap">
                                </div>
                            </div>
                            <a href="#" class="btn showmap">Marker setzen</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Speichern">
                    <a href="{{url_for('sites')}}" class="btn">Abbrechen</a>
                </div>
            </fieldset>
        </form>

    </div>

{% endblock %}

{% block js %}
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="{{url_for("static", filename="js/edit_map.js")}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.noposition').tooltip();

            $(".date-picker").datepicker({
                constrainInput: true,
                dateFormat: "dd.mm.yy",
            });
        });
    </script>
{% endblock %}