{% extends "site_add.html" %}

{% block site_header %}
    <h3>{{site.name}} bearbeiten</h3>
{% endblock %}

{% block site_config %}
    <div id="siteconfig"
         data-lat="{{site.lat}}"
         data-lng="{{site.lng}}"
         data-polyline='{{site.polyline|tojson|safe}}'
         data-sidewalk_only="{{site.sidewalk_only}}"></div>
{% endblock %}

{% block hidden_iputs %}
    <input id="lat" name="lat" type="hidden" value="{{site.lat}}">
    <input id="lng" name="lng" type="hidden" value="{{site.lng}}">
    <input id="polyline"
           name="polyline"
           type="hidden"
           value='{{site.polyline|tojson|safe}}'>
{% endblock %}
